@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.overlay {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 100px 40px 0 0;
    padding: 10px;
    width: 250px;
    height: auto;
    border: 4px solid #333333;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: transform 0.2s ease;
    transform-origin: top right;
    transform: scale(0);
    z-index: 5;
    overflow: hidden;
}

.sidebar-item {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #1E1E1E;
    display: flex;
    padding: 16px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.sidebar-item div {
    padding: 0 16px;
}

.sidebar-item i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.sidebar-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1E1E1E;
    transition: width 0.3s ease;
}

.sidebar-item:last-child::after {
    background-color: #FF0000;
}

.sidebar-item:hover::after {
    width: 70%;
}

.left-col h1 {
    color: #fff;
    font-weight: 500;
    margin: 0 0 20px 10px;
    grid-column: 1 / -1;
    padding-top: 20px;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.left-col .company {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px;
}

.left-col .company:hover {
    background: #808080;
    cursor: pointer;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
