@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #333333;
}
  
::-webkit-scrollbar-thumb {
    background-color: #666666;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999999;
}

.fa-bars {
    color: #fff;
    font-size: 30px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 30px;
    cursor: pointer;
    z-index: 5;
    border-radius: 20px;
    background-color: #1E1E1E;
    transition: box-shadow 0.3s ease;
    padding: 10px;
}

.fa-bars:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.sidebar-overlay {
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    margin: 85px 30px 0 0;
    padding: 10px;
    width: 250px;
    height: auto;
    border: 4px solid #333333;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: transform 0.2s ease;
    transform-origin: top right;
    transform: scale(0);
    z-index: 5;
    overflow: hidden;
}

.sidebar-item {
    position: relative;
    width: 100%;
    text-decoration: none;
    color: #1E1E1E;
    display: flex;
    padding: 16px;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.sidebar-item div {
    padding: 0 16px;
}

.sidebar-item i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.sidebar-item::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1E1E1E;
    transition: width 0.3s ease;
}

.sidebar-item:last-child::after {
    background-color: #FF0000;
}

.sidebar-item:hover::after {
    width: 70%;
}

.list-container {
    position: fixed;
    background: #1E1E1E;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.list-container .left-col {
    flex-basis: 70%;
    display: grid;
    height: auto;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    background-color: #333333;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    gap: 10px;
    padding: 10px;
}

.list-container .right-col {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    flex-basis: 30%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    z-index: 3;
}

.header-container {
    top: 0;
    left: 0;
    width: 1010px;
    display: flex;
    color: #fff;
    height: 100px;
    background-color: #1E1E1E;
    position: sticky;
    padding-top: 20px;
    padding-left: 20px;
    border-bottom: 2px solid #fff;
    z-index: 3;
}

.header-container h1 {
    font-weight: 600;
    font-size: 38px;
    margin-left: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
}

.left-col .company {
    display: flex;
    justify-content: space-between;
    max-height: 328.5px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    background: #1E1E1E;
    transition: box-shadow 0.4s ease;
    padding: 20px;
}

.left-col .company:hover {
    box-shadow: 0 0 10px #fff;
    cursor: pointer;
}

.company .company-img {
    margin: auto;
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 8px;
    background: #fff;
    margin-bottom: 10px;
    overflow: hidden;
}

.company .company-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.company .company-info {
    display: flex;
    flex-direction: column;
    width: 100%
}

.company .company-info h3 {
    color: #fff;
    font-weight: 500;
    margin-bottom: 5px;
}

.company-info .brief-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    font-size: 11px;
}

.company-info .brief-info .company-type {
    text-align: right;
    flex-basis: 30%;
}

.company-info .brief-info .phone-number {
    flex-basis: 70%;
}

.company-info .brief-info .company-resource {
    margin-top: 5px;
}

.company-info .brief-info .company-resource span {
    font-size: 10px;
}

.company .blur-background {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    right: 0;
    margin: 9px 6px;
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.3s ease;
    border-radius: 20%;
}

.company .company-img .blur-background .fa-bookmark {
    color: #4169E1;
    font-size: 25px;
    z-index: 1;
}

.blur-background:hover {
    background-color: #FFA500;
}

.right-col .filter-bar {
    background: #fff;
    border-bottom: 5px solid rgba(0, 0, 0, .5);
    border-right: 5px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    margin-right: 20px;
    padding: 20px 30px;
}

.filter-bar h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.clear-filter-container {
    display: flex;
    align-items: center;
}

.filter-bar h3,
.clear-filter-container h3 {
    font-weight: 500;
    margin: 20px 20px 10px;
}

.clear-filter-container .clear-filter {
    height: 40px;
    background-color: #fff;
    border: 2px solid #FF0000;
    color: #FF0000;
    transition: box-shadow 0.3s ease;
    font-weight: 500;
    padding: 5px;
    border-radius: 20px;
}

.clear-filter-container .clear-filter:hover {
    background-color: #FF0000;
    box-shadow: 0 0 8px #FF0000;
    color: #fff;
    cursor: pointer;
}

.filter-bar .search-bar {
    width: 100%;
    height: 40px;
    background: #fff;
    display: flex;
    align-items: center;
    border: 2px solid #1E1E1E;
    border-radius: 60px;
    overflow: hidden;
}

.filter-bar .search-bar input {
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 12px;
    color: #1E1E1E;
}

.filter-bar .search-bar input::placeholder {
    color: #808080;
}

.filter-bar .search-bar button i {
    width: 25px;
    color: #fff;
    text-align: center;
}

.filter-bar .search-bar button {
    border: 0;
    margin-right: 10px;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    background: #1E1E1E;
}

.filter-bar .search-bar button:hover {
    background: #666666;
    cursor: pointer;
}

.filter-bar .filter {
    display: flex;
    align-items: center;
    color: #808080;
    margin-bottom: 6px;
}

.filter-bar .filter p {
    flex: 1;
}

.filter-bar .filter input {
    margin-right: 15px;
    cursor: pointer;
}

.filter input[type="checkbox"]:checked + p {
    color: #1E1E1E;
    font-weight: 500;
}

.add-contact {
    position: absolute;
    bottom: 20px;
    width: 310.3px;
    left: 0;
    padding: 10px 20px;
    background-color: #fff;
    color: #1E1E1E;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-top: none;
    border-left: none;
    border-bottom: 5px solid rgba(0, 0, 0, .5);
    border-right: 5px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
}

.add-contact:hover {
    background-color: #1E1E1E;
    color: #fff;
}

.add-contact .fa-plus {
    margin-right: 10px;
}

.create-overlay {
    transition: transform 0.2s ease;
    transform-origin: center;
    transform: scale(0);
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    z-index: 999;
}

.create-contact-page {
    position: fixed;
    transform: scale(0) translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 65%;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 0 15px #fff;
    z-index: 1000;
    overflow: hidden;
    background: #1E1E1E;
}

.fa-xmark {
    position: absolute;
    display: flex;
    padding: 5;
    margin: 15px 0 0 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background-color: #1E1E1E;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
    font-size: 50px;
}

.fa-xmark:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.create-contact-page h1 {
    text-align: center;
    border-bottom: 2px solid #fff;
    margin-top: 20px;
    color: #fff;
    padding-bottom: 10px;
}

.contact-content {
    background: linear-gradient(to bottom, #000000, #333333);
    display: flex;
    position: fixed;
    align-items: center;
    padding: 40px;
    height: 540px;
    width: 100%;
}

.add-image-container {
    flex-basis: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    height: 60%;
    padding: 10px;
    margin-right: 20px;
    background-color: #666666;
    color: #fff;
    border-bottom: 4px solid rgba(0, 0, 0, .2);
    border-right: 4px solid rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.add-image-container .caption {
    width: 100%;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    padding-bottom: 5px;
    text-align: left;
}

.add-image-container i {
    background-color: #1E1E1E;
    width: 200px;
    height: 200px;
    margin-top: 10px;
    padding: 0 12.5px;
    text-align: center;
    color: #808080;
    border: none;
    transition: box-shadow 0.3s ease;
    font-size: 200px;
    border-radius: 10px;
}

.add-image-container .fa-plus:hover {
    box-shadow: 0 0 15px #fff;
    color: #fff;
    cursor: pointer;
}

.input-container {
    flex-basis: 75%;
    top: 0;
    right: 0;
    color: #fff;
    display: flex;
    background-color: #666666;
    height: 100%;
    border-bottom: 4px solid rgba(0, 0, 0, .2);
    border-right: 4px solid rgba(0, 0, 0, .2);
    border-radius: 20px;
    width: fit-content;
    padding: 0 20px;
}

.left-input {
    flex-basis: 40%;
}

.right-input {
    margin-left: 40px;
}

.input-container .caption {
    width: 250px;
    font-size: 20px;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 2px solid #fff;
}

.description::placeholder,
.individual-info input::placeholder,
.other-resource::placeholder,
.other-type::placeholder,
.partner-name::placeholder, 
.partner-number::placeholder {
    color: #fff;
    padding: 4px;
    transition: box-shadow 0.3s ease;
}

.individual-info input,
.input-container .description,
.input-container .partner-resource,
.input-container .partner-type,
.input-container .partner-name, 
.input-container .partner-number {
    width: 250px;
    height: 30px;
    padding: 4px;
    background: #1E1E1E;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.input-container .description {
    height: 100px;
    resize: none;
    display: block;
}

.individual-info input {
    margin-bottom: 5px;
}

.input-container .partner-resource:hover,
.input-container .partner-type:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.input-container .description:hover,
.input-container input:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.other-resource,
.other-type {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    padding: 4px;
    display: none;
    background-color: #1E1E1E;
    color: #fff;
}

.submit-contact {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    margin: 0 50px 50px 0;
    background-color: #fff;
    color: #1E1E1E;
    height: auto;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-top: none;
    border-left: none;
    border-bottom: 5px solid rgba(0, 0, 0, 1);
    border-right: 5px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
}

.submit-contact:hover {
    background-color: #1E1E1E;
    color: #fff;
}

.detail-overlay {
    transition: transform 0.2s ease;
    transform: translateY(100%);
    transform-origin: bottom;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    top: 0;
    left: 0;
    z-index: 999;
}

.detail-view {
    position: fixed;
    background: #1E1E1E;
    transition: transform 0.2s ease;
    transform: translate(-50%, 100%);
    box-shadow: 0 0 15px #fff;
    top: 50%;
    left: 50%;
    width: 880px;
    height: 700px;
    border-radius: 40px;
    z-index: 1000;
    overflow: hidden;
}

.detail-top {
    display: flex;
    align-items: center;
    width: 100%;
    height: 110px;
    padding: 20px;
    border-bottom: 4px solid #fff;
}

.tool-icon {
    width: fit-content;
    display: flex;
    justify-content: flex-end;
}

.detail-top i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-right: 20px;
    background-color: #1E1E1E;
    padding: 5px;
    border-radius: 10px;
}

.detail-top .fa-right-from-bracket {
    margin-left: 20px;
    border: 2px solid #FF0000;
    color: #FF0000;
}

.detail-top .fa-right-from-bracket:hover {
    background-color: #FF0000;
    color: #1E1E1E;
    box-shadow: 0 0 5px #FF0000;
    cursor: pointer;
}

.detail-top .fa-file-pdf {
    width: 54px;
    border: 2px solid #FFA500;
    color: #FFA500;
}

.detail-top .fa-file-pdf:hover {
    background-color: #FFA500;
    color: #1E1E1E;
    box-shadow: 0 0 5px #FFA500;
    cursor: pointer;
}
.detail-top .fa-pen-to-square {
    border: 2px solid #4169E1;
    color: #4169E1;
}

.detail-top .fa-pen-to-square:hover {
    background-color: #4169E1;
    color: #1E1E1E;
    box-shadow: 0 0 5px #4169E1;
    cursor: pointer;
}

.detail-top .fa-copy {
    border: 2px solid #90EE90;
    color: #90EE90;
}

.detail-top .fa-copy:hover {
    background-color: #90EE90;
    color: #1E1E1E;
    box-shadow: 0 0 5px #90EE90;
    cursor: pointer;
}

.detail-top .fa-delete-left {
    width: 54px;
    border: 2px solid #CC0000;
    color: #CC0000;
}

.detail-top .fa-delete-left:hover {
    background-color: #CC0000;
    color: #1E1E1E;
    box-shadow: 0 0 5px #CC0000;
    cursor: pointer;
}

.detail-top h1 {
    border-radius: 20px;
    background-color: #000000;
    box-shadow: 0 0 8px #fff;
    text-align: center;
    font-size: 45px;
    color: #fff;
    width: 80%;
    font-weight: 600;
    margin-left: 30px;
    margin-right: 50px;
}

.detail-container {
    background: linear-gradient(to bottom, #000000, #333333);
    height: 100%;
    position: relative;
    display: flex;
    color: #fff;
}

.right-detail-col {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    padding: 10px;
}

.left-detail-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 4px solid #808080;
    margin-left:  20px;
    height: 100%;
    flex-basis: 50%;
}

.left-detail-col .partner-photo {
    position: relative;
    display: flex;
    height: 280px;
    width: 280px;
    box-shadow: 0 0 10px #fff;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    margin: 20px 0 20px;
}

.detail-container .caption {
    width: 262px;
    font-size: 20px;
    padding-bottom: 5px;
    margin: 10px 0px 5px 20px;
    border-bottom: 2px solid #fff;
}

.individual-contact {
    border-top: 4px solid #808080;
    height: 260px;
    width: 100%;
    font-size: 20px;
}

.individual-contact .caption {
    width: 300px;
}

.individual-input-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    min-width: 300px;
    background: #333333;
    margin: 10px 0 20px 20px;
}

.data {
    min-width: 250px;
    border-bottom: 2px solid #808080;
    margin-bottom: 20px;
}

.type-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    min-width: 266px;
    max-width: 266px;
    background: #333333;
    margin: 10px 0 20px 20px;
}

.resource-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    min-width: 266px;
    max-width: 266px;
    background: #333333;
    margin: 10px 0 20px 20px;
}

.tel-container {
    display: flex;
    padding: 6px;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    min-width: 250px;
    background: #333333;
    margin: 10px 0 20px 20px;
}

.description-container {
    display: flex;
    padding: 6px;
    padding-right: 2px;
    border-radius: 10px;
    min-height: 100px;
    height: 100px;
    width: 266px;
    background: #333333;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 10px 0 20px 20px;
}

.data-description {
    min-width: 250px;
    margin-bottom: 20px;
    word-wrap: break-word;
}

.detail-top .fa-floppy-disk {
    width: 54px;
    border: 2px solid #808080;
    color: #808080;
}

.detail-top .fa-floppy-disk:hover {
    background-color: #808080;
    color: #1E1E1E;
    box-shadow: 0 0 5px #808080;
    cursor: pointer;
}

.modify-detail-view {
    position: fixed;
    background: #1E1E1E;
    transform: translate(-50%, 100%);
    box-shadow: 0 0 15px #fff;
    top: 50%;
    left: 50%;
    width: 880px;
    height: 700px;
    border-radius: 40px;
    z-index: 1100;
    overflow: hidden;
}

.background-overlay {
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 40px #fff;
}

.partner-photo .fa-plus {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    color: linear-gradient(to bottom, #000000, #333333);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 100px;
    width: 100%;
    height: 100%;
    z-index: 200;
}


.partner-photo .fa-plus:hover {
    opacity: 1;
    backdrop-filter: blur(15px);
    cursor: pointer;
}

.modify-individual {
    width: 285px;
    height: 130px;
    border-radius: 20px;
    overflow: hidden;
}

.input-container .description-modify {
    width: 250px;
    height: 84px;
    padding: 4px;
    background: #1E1E1E;
    border: none;
    border-radius: 5px;
    color: #fff;
    resize: none;
    display: block;
}

.input-container .description-modify:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}