<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DBHS CTE Contacts</title>
    <link rel="stylesheet" href="/static/css/mainStyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
    <i class="fa-solid fa-bars"></i>
    <div class="overlay"></div>
    <div class="sidebar">
        <a href="main" class="sidebar-item">
            <i class="fa-solid fa-house"></i>
            <div>Home</div>
        </a>
        <a href="help" class="sidebar-item">
            <i class="fa-solid fa-question"></i>
            <div>Help</div>
        </a>
        <a href="logout" class="sidebar-item" style="color: #FF0000;">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <div>Sign out</div>
        </a>
    </div>
    <div class="list-container">
        <h1>Your Contacts</h1>
        <div class="left-col">
            {% for partner in partners %}
            <div class="company">
                <div class="company-img">
                    <div class="blur-background"></div>
                    <i class="fa-regular fa-bookmark"></i>
                    <img src="static/assets/company-placeholder.png" alt="Logo">
                </div>
                <div class="company-info">
                    <h3>{{ partner['OrganizationName'] }}</h3>
                    <div class="brief-info">
                        <p class="phone-number">{{ partner['Phone'] }}</p>
                        <p class="company-type">{{ partner['TypeOfOrganization'] }}</p>
                        <p class="company-resources">Resources Available: <br><span>{{ partner['ResourcesAvailable']
                                }}</span></p>
                    </div>
                </div>
            </div>
            {% endfor %}

            <div class="right-col">
                <div class="filter-bar">
                    <h2>Select Filters</h2>
                    <form action="/search" method="get">
                        <div class="search-bar">
                            <input type="text" placeholder="Find anything..." name="searchQuery" id="searchInput">
                            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                        <h3>Partner Type</h3>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Sole Proprietorship</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Partnership</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Limited Partnership</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>LLC</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Corporation</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Non-Profit</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Other</P> <span>(0)</span>
                        </div>
                        <h3>Resources Available</h3>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Food Supply</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Construction</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Electronic</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Education Resource</P> <span>(0)</span>
                        </div>
                        <div class="filter">
                            <input type="checkbox">
                            <p>Other</P> <span>(0)</span>
                        </div>
                    </form>

                </div>
                <button class="add-contact"><i class="fa-solid fa-plus"></i>Create a new contact</button>
            </div>
        </div>
        <script src="/static/js/mainScript.js"></script>
</body>

</html>